.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-svg-text {
  font-size: 180px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -6px;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .hero-svg-text {
    font-size: 190px;
    letter-spacing: -2px;
  }
}